    <footer class="page-footer font-small">
      <span>(C) 2019 Hidden-History</span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span><a href="/impressum">Impressum</a></span>
    </footer>
