package-lock.json
node_modules
config/config.json
public/javascripts/vis-network.min.js
public/javascripts/3d-force-graph.min.js
public/javascripts/3d-force-graph-vr.min.js
public/javascripts/force-graph.min.js
public/dbdesign
.env
