<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Use correct character set. -->
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- Make the app on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="description" content="Free Graph Database for Hidden-History">
    <meta name="keywords" content="Database,Hidden-History,Graph,Postgres">
    <meta name="author" content="Joerg Roth">
  </head>

  <body>
  {{{body}}}
  </body>
</html>
