<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">	  
    <meta name="description" content="Free Graph Database for Hidden-History">
    <meta name="keywords" content="database,Hidden-History,Graph,Postgres">
    <meta name="author" content="Joerg Roth">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.css"/>
    {{#ifCond req.url '==' '/'}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
    {{/ifCond}}
    {{#ifCond req.url '==' '/nodes'}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    {{/ifCond}}
    {{!#ifCond req.url '==' '/gallery'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="/stylesheets/gallery.css"/>
    {{!/ifCond}}
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    {{#ifCond req.url '==' '/nodes'}}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    {{/ifCond}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    {{#ifCond req.url '==' '/graph/visjs'}}
    <script src="/javascripts/vis-network.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/graph/force2d'}}
    <script src="/javascripts/force-graph.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/graph/model-n2n'}}
    <script src="/javascripts/force-graph.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/graph/model-nen'}}
    <script src="/javascripts/force-graph.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/graph/force3d'}}
    <script src="/javascripts/3d-force-graph.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/graph/timeline'}}
    <script src="/javascripts/timelines-chart.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/gallery'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.js"></script>
    {{/ifCond}}
  </head>
  <body class="text-center">
  {{>navigation}} 
  {{{body}}}
  {{>footer}} 
  </body>
</html>
