<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">	  
    <meta name="description" content="Free Graph Database for Hidden-History">
    <meta name="keywords" content="database,Hidden-History,Graph,Postgres">
    <meta name="author" content="Joerg Roth">
    <title>{{context.title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/fh-3.1.4/r-2.2.2/datatables.min.css"/>
    {{#ifCond req.url '==' '/'}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
    {{/ifCond}}
    {{!#ifCond req.url '==' '/gallery'}}
    <link rel="stylesheet" href="/stylesheets/lightgallery.min.css"/>
    {{!/ifCond}}
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    {{#ifCond req.url '==' '/graph/visjs'}}
    <script src="/javascripts/vis-network.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/graph/force2d'}}
    <script src="/javascripts/force-graph.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/graph/model-n2n'}}
    <script src="/javascripts/force-graph.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/graph/model-nen'}}
    <script src="/javascripts/force-graph.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/graph/force3d'}}
    <script src="/javascripts/3d-force-graph.min.js"></script>
    {{/ifCond}}
    {{#ifCond req.url '==' '/gallery'}}
    <script src="/javascripts/lightgallery-all.js"></script>
    {{/ifCond}}
  </head>
  <body class="text-center">
  {{>navigation}} 
  {{{body}}}
  {{>footer}} 
  </body>
</html>


