
  {{>edgetypes-table}}

  {{#ifCond req.user.role '==' 'admin'}}
  <button class="btn btn-primary" data-toggle="modal" data-target=".add-form">Add Edge-Type</button>
  {{/ifCond}}

  {{#ifCond req.user.role '==' 'admin'}}
  {{>edgetypes-form mode='update'}}
  {{>edgetypes-form mode='add'}}
  {{/ifCond}}

  <script type="text/javascript">
    $(document).ready(function(){
      var url = window.location.href;
      $(".edgeTypesTable").DataTable({
        pageLength: 20,
        paging: true,
        dom: 'frtip'
      });
      {{#ifCond req.user.role '==' 'admin'}}
      $('.update-form').on('hidden.bs.modal', function(event) {
        $('.name-update').val('');
        $('.description-update').val('');
      });
      var table = $(".edgeTypesTable").DataTable();
      $(".edgeTypesTable tbody").on( 'click', 'tr', function () {
        var data = table.row( this ).data();
        $(".edgeTypeId-update").val(data[0]);
        $(".delete-update").attr("href", function(i, origLink) {
          return origLink.replace(/#/, data[0]);
        });
        $(".name-update").val(data[1]);
        $(".description-update").val(data[2]);
        $('.update-form').modal('show');
      });
      $('.discard-add').click(function(){
        $('.name-add').val('');
        $('.description-add').val('');
      });
      {{/ifCond}}
    });
  </script>
