<div id="3d-graph-vr"></div>

<script>
  const elem = document.getElementById('3d-graph-vr');
  const Graph = ForceGraphVR()
    (elem)
      .jsonUrl('/download/json')
      .linkLabel('label')
      .linkWidth('val')
      .linkAutoColorBy('label')
      .linkDirectionalArrowLength(4)
      .linkDirectionalArrowRelPos(0.5)
      .linkCurvature(0.95)
      .linkOpacity(0.5)
      .nodeLabel('label')
      .nodeAutoColorBy('group')
      .nodeVal('val');
</script>

