<div id="graph"></div>

<script>
  fetch('/download/json').then(res => res.json()).then(data => {
    const Graph = ForceGraph()
    (document.getElementById('graph'))
      .graphData(data)
      .nodeLabel('label')
      .nodeVal('value')
      .nodeAutoColorBy('group')
      .linkSource('from')
      .linkTarget('to')
      .linkWidth('val')
      .linkLabel('label')
      .linkAutoColorBy('label')
    });
</script>
