<div class="d-flex flex-wrap flex-md-nowrap">
  <div id="mynetwork" class="mynetwork flex-fill"></div>
  <div id="config" class="config"></div>
</div>

<!-- Add an invisible <div> element to the document, to hold the JSON data: -->
<div id="networkJSON-results" class="results" style="display:none"></div>

<script type="text/javascript">

  var options = {
    layout: {
      improvedLayout: false
    },
    groups: {
      event: {
        shape: 'box',
        size: 25,
      },
      place: {
        shape: 'ellipse',
        color: '#eeeeee',
        scaling: {
          label: {
            enabled: false
          }
        }
      }
    },
    nodes: {
      scaling: {
        min: 1,
        max: 10,
        label: {
          enabled: true
        }
      }
    },
    edges: {
      arrows: {
        to: {enabled: true, scaleFactor:0.75, type:'arrow'},
        middle: {enabled: false, scaleFactor:1, type:'arrow'},
        from: {enabled: false, scaleFactor:0.3, type:'arrow'}
      },
      font: {
        size: 10,
        align: 'middle'
      },
      arrowStrikethrough: true,
      chosen: true,
      width: 3,
      color: {
        highlight: 'red',
        hover: '#848484',
        inherit: 'from',
        opacity: 1.0
      },
      dashes: false
    },
    configure: {
      filter:function (option, path) {
        if (path.indexOf('physics') !== -1) {
          return true;
        }
        if (path.indexOf('smooth') !== -1 || option === 'smooth') {
          return true;
        }
        return false;
      },
      container: document.getElementById('config')
    }
  };

// -------------------------------------------------------------------------
// IMPORT DATA FROM EXTERNAL JSON FILE:
// Per: https://github.com/ikwattro/blog/blob/master/sources/easy-graph-visualization-with-vis-dot-js.adoc:
// NOTES:
// 1. Must use double quotes ("; not ') in that JSON file;
// 2. Cannot have comments in that file, only data!  See:
//    https://stackoverflow.com/questions/244777/can-comments-be-used-in-json

var json = $.getJSON("/download/json")
  .done(function(data){
    var str = JSON.stringify(data);
    console.log(str);
    str = str.replace(/"source":/g, '"from":');
    str = str.replace(/"target":/g, '"to":');
    str = str.replace(/"val":/g, '"value":');
    data = JSON.parse(str);
    var data = {
      nodes: data.nodes,
      edges: data.links
    };
    var network = new vis.Network(container, data, options);
  });

var container = document.getElementById('mynetwork');

</script>
