<div id="graph"></div>

<script>
  function drawGraph(result) {
    const elem = document.getElementById('graph');
    const Graph = ForceGraph()
    (elem)
      .backgroundColor('rgba(255, 255, 255)')
      .graphData(result)
      .nodeAutoColorBy('group')
      .nodeVal('val')
      .nodeLabel('label')
      //.linkAutoColorBy(d => result.nodes[result.nodes.findIndex(node => node.id == d.source)].group)
      .linkAutoColorBy('label')
      .linkWidth('val')
      .linkLabel('label')
      .linkCurvature(0.1)
      .linkDirectionalArrowLength(d => d.val * 1.5)
      .linkDirectionalArrowRelPos(1)
      .onNodeHover(node => elem.style.cursor = node ? 'pointer' : null)
      .onNodeClick(node => {
        // Center/zoom on node
        Graph.centerAt(node.x, node.y, 1000);
        Graph.zoom(8, 2000);
      });
  }
  function logError(error) {
    console.log('Looks like there was a problem: \n', error);
  }
  function validateResponse(response) {
    if (!response.ok) {
      throw Error(response.statusText);
    }
    return response;
  }
  function readResponseAsJSON(response) {
    return response.json();
  }
  function fetchJSON(pathToResource) {
    fetch(pathToResource)
    .then(validateResponse)
    .then(readResponseAsJSON)
    .then(drawGraph)
    .catch(logError);
  }
  fetchJSON('/download/json');
</script>
