<div class="container">
  <h4>Welcome to {{context.title}}</h4>

  <p>Hidden-History tries to capture and break down the hidden story using a graph database.</p>

  <h5>Graph-Database</h5>

  <p>In computing, a graph database is a database that uses graph structures for semantic queries with nodes, edges and properties to represent and store data. A key concept of the system is the graph (or edge or relationship), which directly relates data items in the store. The relationships allow data in the store to be linked together directly, and in many cases retrieved with one operation.</p>

  <h5>Intention</h5>

  <p>The intention of this project is to build a community based database where the result of the addition are directly visible in the <a href="/vis">graphical representation</a>. Everyone is welcome to contribute knowledge and help building an alternative view of our history. The focus of the database is <strong>not</strong> to just represent the generally accepted history but also to include potential relations and so called conspiracy theories.</p>
 
  <p>You have to login to be able to add new content. You can use your Facebook or Google-Account to login</p>
  <p><button class="btn btn-primary" data-toggle="modal" data-target=".signin-form">Login</button></p>
  <p><a href="/signup"><button class="btn btn-primary">Register</button></a></p>
</div>

<div class="signin-form modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="post" action="/signin">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input name="email" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control">
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Sign In">
        </form>
        <div class="btn-group w-100 btn-social">
          <a class='btn btn-primary disabled'><i class="fab fa-facebook-f" style="color:#fff; width:16px; height:16px"></i></a>
          <a class='btn btn-primary' style='flex: 1' href='/auth/facebook'> Sign in with Facebook</a>
        </div>	
        <br />
        <div class="btn-group w-100 btn-social">
          <a class='btn btn-danger disabled'><i class="fab fa-google" style="color:#fff; width:16px; height:16px"></i></a>
          <a class='btn btn-danger' style='flex: 1' href='/auth/google'> Sign in with Google</a>
        </div>
      </div>
    </div>
  </div>
</div>
