
  {{>nodes-table}}

  {{#if req.user}}
  <button class="btn btn-primary" data-toggle="modal" data-target=".add-form">Add Node</button>
  {{/if}}

  {{#if req.user}}
  {{>nodes-form mode='update'}}
  {{>nodes-form mode='add'}}
  {{/if}}

  <script type="text/javascript">
    $(document).ready(function(){
      var url = window.location.href;
      $(".nodesTable").DataTable({
        pageLength: 30,
        bStateSave: true,
        paging: true,
        dom: 'Bfrtip',
        buttons: [
          'colvis',
          'copy',
          {
            extend: 'excel',
            title: 'nodes'
          },
          {
            extend: 'csv',
            title: 'nodes'
          }
        ]
      });
      {{#if req.user}}
      $('.update-form').on('hidden.bs.modal', function(event) {
        $('.name-update').val('');
        $('.otherName-update').val('');
        $('.fromDateEra-update').find('option').attr('selected',false);
        $('.toDateEra-update').find('option').attr('selected',false);
        $('.typeId-update').find('option').attr('selected',false);
        $('.link-update').val('');
      });
      var table = $(".nodesTable").DataTable();
      $(".nodesTable tbody").on( 'click', 'tr', function () {
        var data = table.row( this ).data();
        $(".nodeId-update").val(data[0]);
        $(".delete-update").attr("href", function(i, origLink) {
          return origLink.replace(/#/, data[0]);
        });
        $(".name-update").val(data[1]);
        $(".otherName-update").val(data[2]);
        var [year, month, day] = data[3].split('-');
        $(".fromDate-update").val(year + (month? "-" + month : "-01") + (day? "-" + day : "-01"));
        $(".fromDateEra-update").find('option').attr("selected",false) ;
        if (data[4] != "") {
          $(".fromDateEra-update").find('option:contains(' + data[4] + ')').attr("selected",true);
        }
        var [year, month, day] = data[5].split('-');
        $(".toDate-update").val(year + (month? "-" + month : "-01") + (day? "-" + day : "-01"));
        $(".toDateEra-update").find('option').attr("selected",false) ;
        if (data[6] != "") {
          $(".toDateEra-update").find('option:contains(' + data[6] + ')').attr("selected",true);
        }
        $(".typeId-update").find('option').attr("selected",false) ;
        $(".typeId-update").find('option:contains(' + data[7] + ')').attr("selected",true);
        $(".link-update").val(data[8]);
        $(".contributor-update").val(data[9]);
        {{ifCond req.user.role '==' 'admin'}}
        $(".checked-update").prop("checked", (data[10] == 'true'));
        {{/ifCond}}
        $('.update-form').modal('show');
      });
      $('.discard-add').click(function(){
        $('.name-add').val('');
        $('.otherName-add').val('');
        $('.fromDate-add').val('');
        $('.fromDateEra-add').prop('selectedIndex',0);
        $('.toDate-add').val('');
        $('.toDateEra-add').prop('selectedIndex',0);
        $('.typeId-add').prop('selectedIndex',0);
        $('.link-add').val('');
        $('.add-form').modal('hide');
      });
      {{/if}}
    });
  </script>
