  <form id="signup" name="signup" method="post" action="/signup" class="form-signup text-left">
    <fieldset class="form-group">
      <label for="email">Email Address</label>
      <input name="email" type="email" class="form-control">
    </fieldset>
    <fieldset class="form-group">
      <label for="firstname">Firstname</label>
      <input name="firstname" type="text" class="form-control">
    </fieldset>
    <fieldset class="form-group">
      <label for="lastname">Lastname</label>
      <input name="lastname" type="text" class="form-control">
    </fieldset>
    <fieldset class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control">
    </fieldset>
    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
  </form>
