{
  "development": {
    "username": "",
    "password": "",
    "database": "hidden-history",
    "host": "127.0.0.1",
    "port": "5433",
    "dialect": "postgres",
    "logging": true
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "facebook": {
     "app_id": "",
     "app_secret": "",
     "callback": "https://forms.hidden-history.ch/auth/facebook/callback"
  },
  "google": {
     "clientID": "",
     "clientSecret": "",
     "callback": "https://forms.hidden-history.ch/auth/google/callback"
  }
}
